nav{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 50px;
}
.logo h1{
    color: #f4a996;
    text-shadow: 1px 1px 2px #f00, 0 0 1em #00f, 0 0 0.2em #00f;
    font-style: italic;
    font-size: 2em;
}