.singleProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .imagesStack{
        display: flex;
        justify-content: center;
    }
    .productDescription{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span{
        font-weight: 500;
    }
    .itemDesc{
        max-width: 30vw;
    }
    a{
        margin-top: 70px;
        color: rgb(151, 151, 151);
        transition: 0.2s;
        &:hover{
            color: var(--darkBrownGray);
            font-weight: 500;
        }
    }

}

@media (max-width: 500px){
    .singleProduct{
        flex-direction: column;

        .mainImg{
            width: 300px;
        }

        .imagesStack img{
            width: 100px;
        }
        .itemDesc{
            max-width: 90vw;
        }
    }
}
@media (min-width: 500px) and (max-width: 950px){
    .singleProduct{
        flex-direction: column;

        .mainImg{
            width: 550px;
        }

        .imagesStack img{
            width: 150px;
        }
        .itemDesc{
            max-width: 60vw;
        }

    }
}
