body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F4EEE0;
}
#calculator{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #393646;
    padding: 40px 35px 65px 35px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px 1px #35304b;
}
#screenInput{
    height: 60px;
    font-size: 30px;
    width: 420px;
    background-color: #CBE4DE;
    border: 0;
}
#numberBtns{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "res del mod divid "
    "num7 num8 num9 multip"
    "num4 num5 num6 minus"
    "num1 num2 num3 plus"
    "dots num0 even plus ";
    width: 400px;
    height: 300px;
    gap: 10px;
}
#num0{ grid-area: num0;}
#num1{ grid-area: num1;}
#num2{ grid-area: num2;}
#num3{ grid-area: num3;}
#num4{ grid-area: num4;}
#num5{ grid-area: num5;}
#num6{ grid-area: num6;}
#num7{ grid-area: num7;}
#num8{ grid-area: num8;}
#num9{ grid-area: num9;}
#num10{ grid-area: dots;}
#even{ grid-area: even;}
#plus{ grid-area: plus;}
#minus{ grid-area: minus;}
#multiply{ grid-area: multip;}
#divide{ grid-area: divid;}
#res{ grid-area: res;}
#del{ grid-area: del;}
#mod{ grid-area: mod;}

.btn{
    background-color: #E6D5B8;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    transition: background-color 0.1s, color 0.1s;
}
.btn:active{
    transform: translateY(2px);
}
.btn:hover{
    cursor: pointer;
    background-color: #4A3933;
    color: #fff;
}
.func{
    background-color: #F0A500;
}
.func:hover{
    background-color: #ff8400;
}
.delRes{
    background-color: #E45826;
}
.delRes:hover{
    background-color: #ff4400;
}







