.employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.memberImage{
    width: 300px;
    border-radius: 50%;
}
.memberName{
    text-transform: uppercase;
}
.position{
    color: rgb(19, 21, 153);
}
.icons{
    display: flex;
    gap: 1vw;
}