.sidebar{
    border-right: 1px solid #00000023;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--brandsBg);
    .titles{
        padding: 0 20px;
        margin-bottom: 20px;
    }
    span{
        padding: 20px;
        i{
            margin-right: 5px;
        }
        &:hover{
            background: var(--navGrad);
            color: #fff;
            cursor: pointer;
        }
    }
}
