:root {
  --whiteGreen: #F7F4E3;
  --lightGreen: #D2E1C8;
  --yellow: #FEE4A6;
  --pink: #F9C4AA;
  --lightYellow: #FDF0D1;
  --lightPink: #AC7D88;
  --mediumPink: #85586F;
  --brownPink: #643843;
  --btnHover: #7a565f;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--mediumPink);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: var(--pink);
}
body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: var(--brownPink);
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: var(--btnHover);
}


