body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(#016A70, #D2DE32);
}
#loginDiv{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 10%;
    border-radius: 20px;
    background:linear-gradient(#FFFFDD, #A2C579);
}
#loginDiv h1{
    margin-bottom: 10vh;
}
form{
    display: flex;
    flex-direction: column;
}
