.authCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    background-color: var(--lightYellow);
    border-radius: 10px;
}
.loginCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginCont p{
    margin-top: -15px;
}
.loginCont h2{
    color: var(--brownPink);
}
.authForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
.authForm input{
    height: 40px;
    border: 0;
    outline: none;
    background-color: var(--lightYellow);
    border-bottom: 2px solid var(--brownPink);
    margin-top: 0;
    transition: 0.3s;
}
.authForm input:focus{
    box-shadow: 0 16px 11px -16px rgba(172,125,136,0.83);
}
.authForm input:-webkit-autofill,
.authForm input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.authForm input[data-autocompleted] {
    background-color: transparent !important;
}
.toggleLog:hover{
    color: var(--brownPink);
    cursor: pointer;
}
